@font-face { 
    font-family: 'Gagalin-Regular';
   src: url("fonts/Gagalin-Regular.woff") format("woff"); 
   font-weight: normal;
    font-style: normal; 
}

@font-face { 
    font-family: 'Lifehack-Medium';
   src: url("fonts/Lifehack-Medium.woff") format("woff"); 
   font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Ubuntu';
    src: url("fonts/Ubuntu-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url("fonts/Ubuntu-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url("fonts/Ubuntu-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal; }

@media screen and (max-width: 768px){
  html{
    font-size: 0.9375rem;
  }
}

@media screen and(max-width:480px){
  html{
    font-size: 0.8125rem;
  }
}

li {
    list-style-type: none;
   }
   a{
       text-decoration: none;

   }

   body{
    font-size: 1rem;
    font-family: 'Gagalin-Regular','Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.42;
    position: relative;
    color: #2f3234;
   }
   .button{
   background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3125rem;
  border: none;
  padding: 0.5625rem 1rem;
  -o-transition: .5s;
  transition: .5s;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 500;
   }

.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.maincontent {
    height: 100%;
    min-height: 40.625rem;
    
}

@media screen and (max-width: 768px) {
        .maincontent {
          min-height: auto; } 
        }

.heading {
       background: url("https://i.ibb.co/vmVqHbR/first-page-cover.jpg") center center no-repeat;
            background-size: cover;
            position: relative;
}

.section {
    height: 100vh;/*100%*/
    min-height: 40.625rem;
    position: relative;
    display: flex;
    overflow: hidden;/*Отображается только область внутри элемента, остальное будет скрыто*/
  }

.section_title.section_title__{
    color: white;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: 940px;
    display: flex;
    flex-direction: column; 
}

.header {
  padding-top: 0.75rem;/*Устанавливает значение поля от верхнего края содержимого элемента*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;/*space-evenly*/
  align-items: center; 
}

.header_link{
    display: flex;
    align-items: center;
    background:  #e45028;;
    width: 6rem;
    height: 2rem;
    border-radius: 0.187rem;
    text-align: center;
}

 .order_links{
    color: white;
    margin-left: 1rem;
}

.header_buttons{
    display: flex;
   align-items: center;
    margin-left: auto;
}

.hamburger-menu-link{
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.875rem;
  display: none;
}

@media screen and(max-width:768px ){
  .hamburger-menu-link{
    display: flex;
  }
}


/*.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

*/


.header__menu{
    flex: 1;
    text-align: right;
    margin-right: 1.25rem;
}

@media screen and(max-width:768px){
  .header__menu{
    display: none;
  }
}

.header_link.button{
    display: flex;
    align-items: center;
}

.nav_list{
    width: 100%;
    display: flex;
    align-items: center;
}

.nav_item{
    display: flex;
    align-items: center;
}

.nav_item:after {
    content: "";
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: white;
    margin: 0 0.9375rem; 
}

.nav_item:last-child {
    margin-right: 0; 
}

.nav_item:last-child:after {
 display: none; 
}

.nav_link{
    font-size: 0.812rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav_link:hover{
    text-decoration: underline;
}

.heading_container{
    display: flex;
    /*flex: 1;*/
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15%;
    position: relative;
}

.heading_content{
    display: flex;
}
@media screen and (max-width:768px){
    .heading_content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 19%;
    }
}

.heading_remedy{
    width: 50%;
}
.heading_remedy{
  padding-top: 10.9625rem; 
}
@media screen and (max-width:768px){
    .heading_sinister, .heading_remedy{
        width: auto;
    }
}
.heading_sinister {
    padding-top: 7.0625rem; 

    width: 50%;
}

@media screen and (max-width: 768px) {
    .heading_right {
      padding-top: 0; } 
}

.heading_img{
    display: inline-block;
    position: relative;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translateX(-50%);
}

.section_title{
    color: #f8b94c;
    font-size: 4.5rem;
    margin-bottom: 0.75rem;
   font-family:"Gagalin-Regular", sans-serif;

}

.section_subtitle{
    font-size: 4.0625rem;
    color: white;
    font-family: "Lifehack-Medium",  sans-serif;
    text-transform: lowercase;
    line-height: 0.9511em;
}



/*2 страница*/
.wearebest{
    background: url("https://i.ibb.co/4KfbpX2/heading-cover.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center center;

}

.section_title.section_title_wearebest{
    color: #2f3234;
    text-align: center;
}
.wearebest_items{
    display: flex;
}

@media screen and (max-width: 480px){
    .wearebest_items{
        flex-direction: column;
    }
}

.wearebest_item{
    margin-bottom: 3.125rem;/*Устанавливает величину отступа от нижнего края элемента*/
    padding: 0 0.9375rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px){
    .wearebest_item{
        flex-direction: row;
    }
}

.demo-icon{
    width: 90%;

}


.wearebest_items{
    display: flex;
}
@media screen and(max-width:480px){
    .wearebest_items{
        flex-direction: column;
    }
}
.wearebest_item{
    margin-bottom: 3.125rem;
    padding: 0 0.9375rem;
    display: flex;
    flex-direction: column;
}
@media screen and(max-width:480px){
    .wearebest_item{
        flex-direction: row;
    }
}

.wearebest_describtion{
    text-align: left;
}

.wearebest_title{
    font-size: 1.5rem;
    font-family: 'Lifehack-Medium',  sans-serif;
    color: #2f3234;
    margin-bottom: 1.25rem;
}

.wearebest_text{
  font-family: Arial, Helvetica, sans-serif;
}

.demo-icon.icon-salad{
    color: yellowgreen;
}

.demo-icon.icon-hand{
    color: orange;
}

.demo-icon.icon-meat{
    color: red;
}






.darkbeefburgers{
  
    background-image: linear-gradient(to bottom, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);
}
  
.container_burgers {
    max-width: 68.75rem;
    align-items: center;
    justify-content: center; 
}
  
.darkbeefburger_content {
    display: flex;
    justify-content: center;
    align-items: top;
    color: #fff;
    font-size: 0.875rem; 
}

@media screen and (max-width: 768px) {
      .darkbeefburger_content {
        flex-direction: column;
        align-items: center;
 } }
  
.darkbeefburger_content__col {
   /* padding-bottom: 4.375rem;*/
    margin: 40px 0; }
    @media screen and (max-width: 480px) {
      .darkbeefburger_content__col {
        padding-bottom: 0.9375rem;
} }
  
  .darkbeefburger_content__col-left {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding-top: 3.125rem; }
    @media screen and (max-width: 768px) {
      .darkbeefburger_content__col-left {
        justify-content: center;
        align-items: center;
        padding-bottom: 1.875rem; } }
    @media screen and (max-width: 480px) {
      .darkbeefburger_content__col-left {
        padding-top: 5.625rem; } }
  
  .darkbeefburger_content__col-right {
    display: flex;
    max-width: 28.125rem;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0.625rem;
    padding-right: 1.5625rem; }
    @media screen and (max-width: 768px) {
      .darkbeefburger_content__col-right {
        align-items: center;
        padding-left: 1.25rem;
        padding-right: 1.25rem; } }
  
  .darkbeefburger_content__display {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 471px; }
  
  .darkbeefburger_content__list {
    height: 21.5625rem;
    white-space: nowrap;
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%; }
  
  .darkbeefburger_content__item {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%; }
  
  .darkbeefburger_content__pic-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .darkbeefburger_content__pic {
    max-height: 100%;
    max-width: 100%; }
  
  .darkbeefburger_content__composition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.625rem;
    height: 5.625rem;
    background: #F08C33;
    border-radius: 8px;
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
    .darkbeefburger_content__composition:hover {
      background: #e35028; }
  
  .darkbeefburger_content__composition:hover .composition_hover {
    display: flex; }

    .composition_hover{
        background: white;
        border-radius: 5px;
        display: none;
        flex-direction: column;
        color: black;
        position: absolute;
        top: 0;
        left: 5.625rem;
        opacity: .8;
        
    }
  
    .hover__item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.8125rem;
        margin-left: 1.25rem;
    }
    .hover__item:first-child {
        margin-top: 1.125rem; }

  .hover__component {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 500;
    margin-right: 4.1875rem;
    font-size: 0.875rem; }

    .hover_item{
        width: 2.8125rem;
        height: 2.8125rem;
        margin-right: 1.5625rem; 
    }
  
        .hover_item.icon-salad{
            font-size: 100%;
        }

        .hover_item.icon-cucumber{
            font-size: 100%;
            color: yellowgreen;
        }

        .hover_item.icon-cheese{
            font-size: 100%;
            color: yellow;
        }

        .hover_item.icon-buns{
            font-size: 80%;
            color: orange;
        }

        .hover_item.icon-beef{
            font-size: 100%;
            color: red;
        }
  
  .darkbeefburger_content__calories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.625rem;
    height: 5.625rem;
    opacity: .5;
    margin: 0 50px -90px;
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0; }
    @media screen and (max-width: 768px) {
      .darkbeefburger_content__calories {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        bottom: auto; } }
    .darkbeefburger_content__calories:hover {
      opacity: 5; }
  
  .darkbeefburger_content__calories-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  
  
  .darkbeefburger_content__calories-number {
 
   margin: 0 5px;
    position: absolute;
    top: 30%;
    font-size: 1.25rem; }
  
  .section_title_burgers {
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    line-height: 0.9;
   /* padding-top: 0;
    margin-top: 0;*/
   font-weight: 400; 
   font-size: 2rem;
   margin: 78px 0;
}
    @media screen and (max-width: 768px) {
      .section_title_burgers {
        text-align: center; 
        } }
  
  .darkbeefburger_content__text {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 1.875rem;
  margin: -40px 0; }
    @media screen and (max-width: 768px) {
      .darkbeefburger_content__text {
        text-align: center; } }
  
  .darkbeefburger_content__bottom {
    display: flex;
    justify-content: left;
    align-items: baseline; }
  
  .darkbeefburger_content__button {
    height: 35px;
    width: 97px;
    margin-left: 1.5625rem;
    color: #d1cfcb;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .darkbeefburger_content__button {
        display: flex;
        align-items: center;
        justify-content: center; } }

 .icon_arrow_scroll{
    width: 2.5rem;
    height: 2.5rem;
    -o-transition: .3s;
    transition: .3s;
    fill: #fff; 
 }       
 .next_screen_arrow{
   margin: -40px 0 -60px 0;
    transform: translateX(-50%);
    -o-transition: .3s;
    transition: .3s;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    width: 3.75rem;
 }
 .next_screen_arrow:hover .next_screen_arrow{
    margin-top: -0.75rem; }

  .darkbeefburger_content__price {
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    font-size: 1.875rem;
    color: #e35028; }
    .darkbeefburger_content__price .darkbeefburger_content__price-number {
      font-size: 72px; }
    
      .slider__prev-arrow {
        margin: -40px 0 -60px 0 ;
        position: absolute;
        top: 50%;
        left: -3%;
        -o-transition: .3s;
        transform: rotate(90deg);
        transition: .3s; }
        .slider__prev-arrow:hover {
          transform: translateX(-5px) rotate(90deg); 
        }

        .slider_next_arrow {
            position: absolute;
            top: 50%;
            right: -3%;
            transition: .3s; 
            transform: rotate(-90deg);}
            .slider_next_arrow:hover {
              transform: translateX(5px) rotate(-90deg); 
            }

              .price__item {
                display: none; }
                .price__item.active {
                  display: inline; }
              

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }


 

  
/*4 page*/
.comand{
    background: url("https://i.ibb.co/Z6P4VHD/SBS-1255-X2.png") 50% no-repeat;
    background-size: cover;
    position: relative; 
}

.comand.section_title{
    margin-bottom: 5.625rem;
}

.comand_section{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(47, 50, 52, 0.93);
    padding: 5% 4% 0 8%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; 


}

@media screen and (max-width: 768px) {
    .comand_section{
        width: 100%;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}

.comand_content{
    text-align: left;   
}

@media screen and (max-width: 768px){
    .comand_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

@media screen and (max-width: 768px){
    .comand__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.comand_item{
    margin-bottom: 1.88rem;
}
@media screen and(max-width:768px){
    .comand_item{
        text-align: center;
    }
}

.comand_item:last-child{
    margin-bottom: 0;
}
@media screen and(max-width:768px){
    .comand_item.active{
        text-align: center;
    }
}

.comand_item.active .comand_content__{
    height: 6.25rem;
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem; 
}

@media screen and (max-width: 768px) {
    .comand_item.active .comand_content__{
        height: 11.25rem;
    }
}

.comand_item.active .comand_content_person{
    color: #f9b43b; 
}

.comand_item.active .comand_content_person:before{
    transform: rotate(-180deg); 
 
}

.comand_content_person{
    color: #fff;
    font-size: 0.875rem;
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    margin-bottom: 1.25rem;
    align-items: center;
}

@media screen and (max-width: 768px){
    .comand_content_person{
        font-size: 1.5625rem;
    }
}

.comand_content_person:before, .comand_content_person:after{
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem;
    width: 0;
    height: 0; 
}
@media screen and (max-width: 768px){
    .comand_content_person:before, .comand_content_person:after{
        top: 1rem;
        left: -1.375rem;
    }
}

.comand_content_person:before{
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    transform: rotate(0deg);
    transition: .3s;
}

@media screen and (max-width: 768px){
    .comand_content_person:before{
        border-top: 0.5625rem solid #f9b43b;
        border-left: 0.4375rem solid transparent;
        border-right: 0.4375rem solid transparent;
        border-bottom: 0rem solid transparent;
    }
}
.comand_content__{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-top: 0;
    height: 0;
    margin-left: -10px;
    -o-transition: .3s;
    transition: .3s; 
}

@media screen and (max-width: 768px){
    .comand_content__{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.comand_item_picture{
    text-align: center;
}

.comand__img{
    width: 6.25rem;
    height: 6.25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.comand_content_text{
    margin-left: 0.9375rem;
    width: 70%; 
}

.comand_content_title{
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    color: #fff;
    margin-bottom: 0.875rem;
}

@media screen and (max-width: 768px) {
   .comand_content_title{
    text-align: center;
    margin-top: 0.625rem; 
    }
}

.comand_content_describtion{
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 0.875rem;
}


/*5 page*/
/*.menu{
    background: url("https://i.ibb.co/N9xy24Q/photo-1428660386617-8d277e7deaf2.png") 50% no-repeat;
    background-size: cover;
    position: relative; 
}

/*@media screen and (max-width: 480px){
  .menu{
    background-size:50%;
  }
}

.menu_title{
    position: absolute;
    top: 10%;
    left: 10%; 
}
.menu_burger_items{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    height: 100%;
}
.menu_burger_item{
    height: 100%;
}
.menu_burger_link{
    
    width: 5rem;
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative; 
}
.menu_burger_link_text{
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: -1.25rem;
    -o-transition: .3s;
    transition: .3s;
}
.menu_burger_tint{
    width: 100%;
    height: 100%;
    margin: -15px 0 0 0 ;
   background-color:rgba(47, 50, 52, 0.8);
}

@media screen and (max-width: 768px){
  .menu_burger_item.active .menu_burger_link_text{
    max-width: 62.5rem;
  }
}

@media screen and (max-width: 480px){
  .menu_burger_item.active .menu_burger_link_text{
    max-width: 31.25rem;
  }
}

*/




.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__item {
  height: 100%; }
  .menu-acco__item:hover .menu-acco__tint {
    background-color: rgba(47, 50, 52, 0.8); }
  .menu-acco__item.active .menu-acco__trigger-text {
    color: #f9b43b; }
  .menu-acco__item.active .menu-acco__content {
    max-width: 125rem; }
    @media screen and (max-width: 768px) {
      .menu-acco__item.active .menu-acco__content {
        max-width: 62.5rem; } }
    @media screen and (max-width: 480px) {
      .menu-acco__item.active .menu-acco__content {
        max-width: 31.25rem; } }

.menu-acco__trigger {
  width: 5rem;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative; }

.menu-acco__trigger-text {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -1.25rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.menu-acco__content {
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  width: auto;
  max-width: 0; }

.menu-acco__text {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 2.5rem;
  line-height: 1.8;
  width: auto; }

.menu-acco__tint {
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.5);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

  .menu {
    background: url("https://i.ibb.co/N9xy24Q/photo-1428660386617-8d277e7deaf2.png") 50% no-repeat;
    background-size: cover;
    position: relative; }
  
  .menu__title {
    position: absolute;
    top: 10%;
    left: 10%; }


/*6page*/

.reviews_items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
    margin: 0 -20px  10px -40px;
}    

.reviews_item{
    width: 25%;
    height: 50%;
    position: relative; 
}


@media screen and (max-width: 768px) {
    .reviews_item{
        width: 50%;
        height: 25%; 
    }
}

.view{
    position: relative;
    width: 100%;
    height: 100%;
}

.view:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    -o-transition: .3s;
    transition: .3s; 
}
.view:hover .review_person{
    transform: translate(-50%, -50%) scale(1);
    opacity: .9;
   /* width: 14.875rem;
    height: 17.25rem;*/
    width: 75%;
    height: 82%;
    background-color: #2f3234;

}


@media screen and (max-width: 480px){
  .view:hover .review_person{
    transform: translate(-50%, -50%) scale(1);
    opacity: .9;
    width: 14.875rem;
    height: 17.25rem;
    background-color: #2f3234;

} 
}


@media screen and (max-width: 480px){
    .review_person{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    } 
}

.review_person{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
   transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    padding: 17% 12% 0;
    -o-transition: .3s;
    transition: .3s;
    z-index: 10;
}

.review_photo{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .review_person{
        font-size: 0.875rem;
        padding: 5% 12%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
 
    }
}

.review_text{
    color: #ffffff;
    font-size: 0.875rem;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 0.8125rem;
}
@media screen and (max-width: 480px){
    .review_text{
        display: none;
    }
}

.review_person .review_text{
    text-align: left; 
}

.review_title{
    color: #fff;
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    font-size: 0.875rem;
    margin-bottom: 1.5625rem; 
}

@media screen and (max-width: 768px) {
    .review_title{
        margin-bottom: 0.875rem;
    }
}

.review_view{
    border-radius: 0.3125rem;
   background-color: #2f3234;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    -o-transition: .3s;
    transition: .3s;
}



/*6 page*/
.howwework{
    background: url("https://i.ibb.co/pjCjKc2/BG.png") 50% no-repeat;
    background-size: cover;
    position: relative; 
    
}


.howwework_content{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.howwework_videoplayer{
    margin: 2rem 0 0 0 ;
}
@media screen and (max-width: 768px){
    .howwework_content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.howwework_title{
   
    margin: 4rem;
    color: black;
    font-weight: 300;
    font-size: 4.5rem;
    margin-bottom: 0.75rem;
    font-family:"Gagalin-Regular", sans-serif;
}


/*7 page*/

.order {
    background: url("https://i.ibb.co/7nCv8J0/order-bg.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .order .section_title {
      text-align: center;
      margin-bottom: 5.625rem;
      margin-top: 5.625rem; }
      @media screen and (max-width: 768px) {
        .order .section_title {
          margin-bottom: 3.125rem; } }
  
  .order_form {
    margin-left: -5%;
    display: flex; }
    @media screen and (max-width: 768px) {
      .order_form {
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
  
  .order_form_col {
    
   margin-left:8%;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .order_form_col {
        width: 40%; } }
    @media screen and (max-width: 480px) {
      .order_form_col {
        width: 90%; } }
  
  .order_form_row {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row; }
  
  .order_form_text {
    margin-bottom: 0.4375rem;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 0.875rem; }
  

  .order_form_input {
    font-size: 0.875rem;
    padding: 0.3125rem 0.625rem;
    border: 0.0625rem solid #d1cfcb;
    border-radius: 0.3125rem;
    width: 95%; }
  
  .order_form_block {
    width: 100%;
    margin-right: 0.625rem; }
  
  .order_for_row {
    display: flex;
    margin-left: -0.625rem; }
    @media screen and (max-width: 480px) {
      .order_form_row {
        justify-content: center; } }
  
  .order_form_input_textarea {
    height: 6.875rem;
    resize: none; 
    border-radius: 0.3125rem;
  width: 100%;}
  
  .order_form_col_right{
    margin: 0 -50px 0 0;
  }

  .order_radio {
    white-space: nowrap;
    margin-right: 1.25rem;
    cursor: pointer;
    display: flex; }
    @media screen and (max-width: 480px) {
      .order_radio {
        margin-bottom: 1.25rem; } }
  
  .order_radio_elem {
    visibility: hidden; }
  
  .order_radio_fake {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #fff;
    position: relative; }
    .order_radio_fake:after {
      content: "";
      display: none;
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #e35028; }
  
  .order_radio_elem:checked + .order_radio_fake:after {
    display: block; }
  
  .order_radio_checkbox .order_radio_elem:checked + .order_radio_fake .checkmark {
    display: none; }
  
  .order_radio_title {
    font-size: 0.875rem;
    color: #fff;
    margin-left: 0.625rem;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300; }
  
  .order_radio_checkbox .order_radio_fake {
    border-radius: 0rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .order_radio_checkbox .order_radio_elem + .order_radio_fake:after {
    background: transparent; }
  
  .order_radio_chekbox .order_radio_elem:checked .checkmark {
    display: inline-flex; }
  
  .order_form_buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -3%; }
  
  .order_form_button {
    margin-left: 3%;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .order_form_button {
        margin-top: 0.625rem;
        margin-right: -0.3125rem; } }
  
  .order_form_button_reset {
    padding-left: 0;
    padding-right: 0;
    margin-left: 3%;
    cursor: pointer;
    text-transform: none;
    background: transparent; }
    .order_form_button_reset:hover {
      background: transparent; }
  
  .checkmark {
    display: inline-flex;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: relative;
    margin-left: -0.3125rem;
    margin-top: 0.125rem; }
    @media screen and (max-width: 768px) {
      .checkmark {
        margin-left: -0.4375rem;
        margin-top: 0.375rem; } }
    @media screen and (max-width: 480px) {
      .checkmark {
        margin-left: -0.5rem;
        margin-top: 0.5625rem; } }
    .checkmark .checkmark_stem {
      position: absolute;
      width: 0.25rem;
      height: 0.625rem;
      background-color: #e45028;
      left: 0.6875rem;
      top: 0.375rem; }
    .checkmark .checkmark_kick {
      position: absolute;
      width: 0.25rem;
      height: 0.25rem;
      background-color: #e45028;
      left: 0.5rem;
      top: 0.75rem; }
  
.name,.telephone{
    width:90%;
}

.adress{
    width: 82%;
}

.order_form_button_reset{
    color: white;
}


/*8page*/
.footer {
    background: url("https://i.ibb.co/1Lz81bL/chalkboard-texture-mc2015-by-mattiamc-d8dbnac.png") center bottom no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.625rem 0;
    height: 3.75rem; }
    @media screen and (max-width: 480px) {
      .footer {
        height: 6.25rem; } }
  
  .footer_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media screen and (max-width: 480px) {
      .footer_container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  
  .footer_col {
    width: 50%;
    margin-bottom: 0.3125rem;
    margin-top: 0.625rem; }
    @media screen and (max-width: 480px) {
      .footer_col {
        width: 100%;
        text-align: center; } }
  
  .footer_address {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 0.9rem; }
  
  .footer_phone {
    margin-top: 0.3125rem; 
  display: flex;
flex-direction: row;}
    @media screen and (max-width: 480px) {
      .footer_phone {
        margin-bottom: 0.625rem;
        text-align: center; } }
  
  .footer_phone-icon {
    margin-right: 0.5rem;
    margin-left: 0.1rem;
    width: 0.75rem;
    height: 0.75rem; }
  
  .footer_phone-link {
    color: #e35028;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.875rem; }
  
  .footer_col_right {
    text-align: right;
    margin-bottom: 0;
    display: flex;

    justify-content: flex-end; }
    @media screen and (max-width: 480px) {
      .footer_col_right {
        justify-content: center; } }
  
  .socials {
    position: relative;
    top: 50%;
    display: flex;
    align-items: center; }
  
  .socials_item {
    margin-left: 0.75rem; }
  
  .socials_link {
    display: inline-block;
    max-width: 1.4375rem;
    max-height: 1.25rem;
    opacity: .3;

   /* -o-transition: .3s;*/
    transition: .3s; }
    .socials_link:hover {
      opacity: 1; }
  
  .socials_link-icon {
    width: 1.25rem;
    height: 1.25rem; }


        
.map{
    height: 100%;
    width: 100%;
}

.icon-phone{

color: white;
}
.icon-twitter{
    margin:  0 0 0 40px ;

    color: white;
}
.icon-inst{
    margin: 0  0 0 30px;

    color: white;
}
.icon-fb{
    margin:  0 -15px 0 20px ;

    color: white;
}
.icon-vk{
    margin: 0 30px 0 10;

    color: white;
}

.fixed-menu{
  position: fixed;
  top: 5.625rem;
  right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none; }
}


.fixed-menu__link {
      width: 1rem;
      height: 1rem;
      display: block;
      position: relative; 
}

.fixed-menu__link:after, .fixed-menu__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; }


.fixed-menu__link:after {
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1; }

.fixed-menu__link:before {
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  opacity: 0;
  -o-transition: .3s;
  transition: .3s; }

.fixed-menu__link:hover:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1; }

/*.fixed-menu__link--black:after {
background: #313436;
opacity: .8; }*/

/*.fixed-menu__link--black:before {
border: 0.0625rem solid #313436;
opacity: .8; }*/

.fixed-menu__item {
margin-bottom: 0.4375rem; }

/*.fixed-menu__item.active .fixed-menu__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1; 
}
*/


















