
.icon-fb:before { content: '\e808'; } /* '' */
.icon-volume:before { content: '\e809'; } /* '' */
.icon-hand:before { content: '\e80a'; } /* '' */
.icon-inst:before { content: '\e80b'; } /* '' */
.icon-kkal:before { content: '\e80c'; } /* '' */
.icon-logo:before { content: '\e80d'; } /* '' */
.icon-map-marker:before { content: '\e80e'; } /* '' */
.icon-meat:before { content: '\e80f'; } /* '' */
.icon-natural:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-play:before { content: '\e812'; } /* '' */
.icon-salad:before { content: '\e813'; } /* '' */
.icon-sauce:before { content: '\e814'; } /* '' */
.icon-twitter:before { content: '\e815'; } /* '' */
.icon-vk:before { content: '\e816'; } /* '' */