
.icon-cheese:before { content: '\e808'; } /* '' */
.icon-cucumber:before { content: '\e809'; } /* '' */
.icon-drops:before { content: '\e80a'; } /* '' */
.icon-fb:before { content: '\e80b'; } /* '' */
.icon-hand:before { content: '\e80c'; } /* '' */
.icon-inst:before { content: '\e80d'; } /* '' */
.icon-kkal:before { content: '\e80e'; } /* '' */
.icon-logo:before { content: '\e80f'; } /* '' */
.icon-map-marker:before { content: '\e810'; } /* '' */
.icon-meat:before { content: '\e811'; } /* '' */
.icon-natural:before { content: '\e812'; } /* '' */
.icon-phone:before { content: '\e813'; } /* '' */
.icon-play:before { content: '\e814'; } /* '' */
.icon-salad:before { content: '\e815'; } /* '' */
.icon-sauce:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\e817'; } /* '' */
.icon-vk:before { content: '\e818'; } /* '' */
.icon-volume:before { content: '\e819'; } /* '' */
.icon-arrow-scroll:before { content: '\e81a'; } /* '' */
.icon-beef:before { content: '\e81b'; } /* '' */
.icon-buns:before { content: '\e81c'; } /* '' */
.icon-burger:before { content: '\e81d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */